<button mat-raised-button color="primary" [routerLink]="['/add-annonces']">Créer une annonce</button>
<button mat-button [matMenuTriggerFor]="login">Se connecter</button>
<mat-menu #login="matMenu">
    <button mat-menu-item [routerLink]="['/login-admin']" routerLinkActive="router-link-active">Admin</button>
    <button mat-menu-item [routerLink]="['/login-realtor']" routerLinkActive="router-link-active">Agent Immobilier</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="signup">S'inscrire</button>
<mat-menu #signup="matMenu">
    <button mat-menu-item [routerLink]="['/add-realtors']" routerLinkActive="router-link-active">Agent Immobilier</button>
</mat-menu>


<div class="annonces-list">
    <mat-card class="annonce-card" *ngFor="let annonce of annonces">
        <mat-card-header>
            <mat-card-title>{{ annonce.title }}</mat-card-title>
        </mat-card-header>
        <!-- <img mat-card-image [src]="annonce.picture" alt="Image of {{ annonce.title }}" /> -->
        <mat-card-content>
            <p class="annonce-price">{{ annonce.price }} €</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button [routerLink]="['/detail', annonce.id]">En savoir plus</button>
            <button mat-button [routerLink]="['/edit-annonce', annonce.id]">Editer</button>
            <button mat-button color="warn" (click)="delete(annonce.id)">Supprimer</button>
          </mat-card-actions>
    </mat-card>
</div>
  