<button mat-button [routerLink]="['/realtors/list-realtor']">Retour</button>
<h1>Ajouter un agent immobilier</h1>
<form [formGroup]="realtorForm" (ngSubmit)="submit()">
    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" type="text" id="name" required>
        <mat-error>Required</mat-error>
    </mat-form-field><br>
    <mat-form-field>
        <mat-label>age</mat-label>
        <input matInput formControlName="age" type="number" id="age" required>
        <mat-error>Required</mat-error>
    </mat-form-field><br>
    <mat-form-field>
        <mat-label>email</mat-label>
        <input matInput formControlName="email" type="email" id="email" required>
        <mat-error>Required</mat-error>
    </mat-form-field><br>
    <mat-form-field>
        <mat-label>Mot de passe</mat-label>
        <input matInput formControlName="password" type="password" id="password" required>
        <mat-error>Required</mat-error>
    </mat-form-field><br>
    <mat-form-field>
        <mat-label>Image</mat-label>
        <input matInput formControlName="picture" type="text" id="picture">
    </mat-form-field><br>
    <mat-form-field>
        <mat-label>Numéro de téléphone</mat-label>
        <input matInput formControlName="phoneNumber" type="number"  id="phoneNumber" required>
        <mat-error>Required</mat-error>
    </mat-form-field><br>
    <button mat-button type="submit" [disabled]="!realtorForm.valid">Ajouter</button>
</form>